@font-face {
  font-family: 'iconfont';  /* Project id 3356566 */
  src: url('//at.alicdn.com/t/font_3356566_1s7tutncxq6.woff2?t=1650864306294') format('woff2'),
       url('//at.alicdn.com/t/font_3356566_1s7tutncxq6.woff?t=1650864306294') format('woff'),
       url('//at.alicdn.com/t/font_3356566_1s7tutncxq6.ttf?t=1650864306294') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 